.footer {
    background-color:#fcdf03;
    border-top:2px solid;
    height: 50px;
    width:100%;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    font-size: 25px;
    font-family: 'NHaasGroteskDSPro-65Md';  
   }
